{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

            <div class="bg-img">
                <div class="content">
                    {% for flashError in app.flashes('verify_email_error') %}
                        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                    {% endfor %}
            {{ form_start(registrationForm) }}
                    <header>Inscription</header>
                    <div class="form-error">
                        {{ form_errors(registrationForm.username) }}
                    </div>
                    <div class="field">
                        <span class="fa fa-user"></span>
                        {{ form_widget(registrationForm.username) }}
                    </div>
                    <div class="form-error">
                        {{ form_errors(registrationForm.plainPassword) }}
                    </div>
                    <div class="field space">
                        <span class="fa fa-lock"></span>
                        {{ form_widget(registrationForm.plainPassword) }}
                    </div>
                    <div class="pass">
                        {{ form_widget(registrationForm.agreeTerms) }}
                    </div>
                    <div class="field">
                        <input type="submit" value="inscription">
                    </div>
                    {{ form_end(registrationForm) }}
                    </div>
            </div>
{% endblock %}
